<ion-content>
  <ion-header >
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title >Olá, João Silva!</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
  <ion-card-content>

    <ion-item>
      <ion-label>Mercado</ion-label>
      <ion-select multiple="false" cancelText="Cancelar" okText="Ok">
        <ion-select-option value="argentina">Argentina</ion-select-option>
        <ion-select-option value="alemanha">Alemanha</ion-select-option>
        <ion-select-option value="brasil">Brasil</ion-select-option>
        <ion-select-option value="japao">Japão</ion-select-option>
        <ion-select-option value="mexico">México</ion-select-option>
      </ion-select>
    </ion-item>
    <br><br>
    <ion-button size="full" color="warning"  >Filtros</ion-button>
  </ion-card-content>
  </ion-card>
  <div >
    <section class="container">
      <ul class="progressbar">
        <li class="active"> Enviado</li>
        <li> Ativo </li>
        <li> Assinou </li>
      </ul>
    </section>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)="loader()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
